body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

.container-article {
    margin: 0 auto;
    padding-right: 45px;
    padding-left: 45px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.5px;
    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}