.header-main {
    background: white;
    padding: 27px 40px;
    position: relative;
    transition: 0.3s all;
}

.header-logo img {
    width: 140px;
}

.header-main.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    transition: 0.3s all;
    z-index: 9999;
    .header-right-part {
        right: 10%;
    }
}

.header-social--link {
    ul {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    li {
        margin: 0px 7px;
    }
}

.header-single--title {
    position: relative;
    &:before {
        content: "|";
        position: absolute;
        left: -25px;
        color: #E5DBD1;
        font-size: 12px;
        top: 50%;
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    p {
        font-size: 16px;
        color: #5D534F;
    }
}

.header-left-part {
    position: absolute;
    top: 50%;
    left: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.header-category {
    margin-left: 40px;
    p {
        text-transform: uppercase;
        color: #003B5C;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: 0.5px;
        span {
            color: #C3C3C3;
            text-transform: lowercase;
            font-weight: 500;
            margin: 20px;
        }
    }
}

.header-right-part {
    position: absolute;
    top: 50%;
    right: 30px;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}